.category-section{
    background-image: url("https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}